@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@700&display=swap');

html {
    background-color: #3a4764;
    color: white;
    font-family: Spartan;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: lightblue;
}

.button {
    width: 88px;
    height: 53px;
    font-size: 15px;
    background-color: #eae3dc;
    position: relative;
    display: inline-block;
    text-align: center;
    color: #444b5a;
    font-family: Spartan;
    float: left;
    margin: 0 12px;
}

.button.number {
    font-size: 32px;
}

.button.blue {
    background-color: #637097;
    color: white;
}

.button.red {
    background-color: #d03f2f;
    color: white;
}

.wide {
    width: 201px;
}

#calculator {
    max-width: 478px;
    margin: 21px auto;
    padding: 0 21px;
}

.display {
    float: right;
    font-size: 32px;
}

h1 {
    font-size: 25px;
    position: relative;
    display: inline-block;
}

h2 {
    font-size: 10px;
    position: relative;
    display: inline-block;
}

.pad {
    background-color: #232c43;
    height: 394px;
    display: inline-block;
    position: relative;
    padding: 10px 0;
}

.row {
    margin: 10px 14px;
    position: relative;
    display: inline-block;
}

.screen {
    background-color: #182034;
    height: 113px;
    margin: 10px 0 21px;
}

.theme {
    position: relative;
    display: inline-block;
    float: right;
}

.toggle {
    background-color: #232c43;
}

@media only screen and (max-width: 534px) {
    .button {
        width: 53px;
        margin: 0 10px;
    }
    
    #calculator {
        max-width: 327px;
    }

    .wide {
        width: 128px;
    }
}